.loader-cont {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
   display: flex;
   position : absolute ; 
   align-items: center;
   justify-content: center;
   width: 100%;
   max-width: 6rem;
   margin : auto ; 

 }
 .loader:before,
 .loader:after {
   content: "";
   position: absolute;
   border-radius: 50%;
   animation: pulsOut 0.5s ease-in-out infinite;
   filter: drop-shadow(0 0 1rem rgba(8, 169, 228, 0.75));
 }
 .loader:before {
   width: 100%;
   padding-bottom: 100%;
   box-shadow: inset 0 0 0 1rem #0c41d2;
   animation-name: pulsIn;
 }
 .loader:after {
   width: calc(100% - 2rem);
   padding-bottom: calc(100% - 2rem);
   box-shadow: 0 0 0 0 #0695dc;
 }

 @keyframes pulsIn {
   0% {
     box-shadow: inset 0 0 0 1rem #00fbff;
     opacity: 1;
   }
   50%, 100% {
     box-shadow: inset 0 0 0 0 #3505f7;
     opacity: 0;
   }
 }

 @keyframes pulsOut {
   0%, 50% {
     box-shadow: 0 0 0 0 #00ffee;
     opacity: 0;
   }
   100% {
     box-shadow: 0 0 0 1rem #01b7ff;
     opacity: 1;
   }
 }
     